body {
	font-face: 'Georgia';
	font-size: 10pt;
	margin: 0pt;
	padding: 5pt;
	color: #000;
}

div.header {
	position: fixed;
	top: 5pt;
	text-align: center;
	font-size: 15pt;
	height: 30pt;
	line-height: 30pt;
	width: 100%;
	border: 0pt solid #ccc;
	background: #000;
	color: #333;
}

div.container {
	width: 100%;
	display: block;
	border: 0pt solid #ccc;		
}

div.footer {
	text-align: center;
	color: #aaa;
}

div.content {
	float: left;
	border: 0pt solid #ccc;
	margin-left: 3pt;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-right: 3pt;
	padding: 10pt;
	background: white;
}

div.sidemenu {
	display: none;
	width: 0pt;
}

img {
	border: 0pt;
}